.grid-wrapper-searcher{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  margin:-1px;
}

@media screen and (max-width: 1405px) {
  .grid-wrapper-searcher{
    grid-template-columns: 25% 75%;
    grid-template-rows: 100%;
  }
}
@media screen and (max-width: 992px) {
  .grid-wrapper-searcher{
    grid-template-columns: 100%;
    grid-template-rows: 100% 100%;
  }
}
.grid-wrapper-sidebar .bootstrap-select{
  width: 100% !important;
}
.grid-wrapper-sidebar .form-inline>.form-group{
  width: 100%;
}
.grid-wrapper-content{
  width: 100%;
  height: 100%;
}
.grid-wrapper-content-panel{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  min-width: 0;
  min-height: 0;
}
.searcher-content-wrapper{
  width: 100%;
  height: 100%;
}
.searcher-content-wrapper>.panel{
  width: 100%;
  height: 100%;
}
.searcher-content-wrapper>.panel>.panel-body{
  width: 100%;
  height: 100%;
}
.panel{
  margin-bottom: 0
}
.toggle-column-select-wrapper{
  margin-bottom: 20px;
}
#chart_div {
    width: 100%;
    vertical-align: top;
	height: 100%;
	overflow: hidden;
}

.toggle-visibility {
  cursor: pointer;
  color: green;
  font-weight: bold;
  font-size: 10px;
}

.toggle-visibility:hover {
  color: green;
}

.feature-invisible {
  color: red;
}

.feature-invisible:hover {
  color: red;
}

#example {
    width:100%;
}

.dataTable tbody tr td {
    vertical-align: top;
    white-space: pre-wrap;
    min-width: 10%; 
    max-width: 25%;
}

.invisible {
    display:none;
}

.bg-grey {
	background: #EFEFEF;
}

.padded-row {
	padding-left: 5px;
	padding-right: 5px;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: #EFEFEF;
}

th {

  overflow: hidden;
  border-right: 1px solid #f1f1f1;
}

th:first-child {
  border-left: 1px solid #f1f1f1;
}

.clusterText {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9em;
    margin-top: -0.7em;
}

.clusterLabel {
  font-weight: bold;
}


textarea {
    max-width: 100%;
    max-height: 100%;
}
/*  Datatables buttons plugin hide columns buttons */ 
.dt-button.buttons-columnVisibility {
  background-color: Transparent;
  background-repeat:no-repeat;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: none;
  border-left: solid;
  border-left-width: 1px;
  border-color: #333333;


  color: red;
  font-size: 0.76em;
  font-weight: bold;
}

.dt-button.buttons-columnVisibility.active {
  color: #008000;
}

.dt-button.buttons-columnVisibility.toggleAllButton {
  border: none;
  padding-left: 0;
  color: #300000;
}

.dt-button.buttons-columnVisibility.toggleAllButton.active {
  color: #003000;
}

.list-group-item {
  min-width: 120%;
  display: inline-block;
  padding: 5px;
}
/* 
With scroll head for some reason there are v-a: middle on td  */ 
.dataTable td {
  vertical-align: top !important;
}

#saved-searches-panel{
  overflow-y: scroll;
  max-height: 250px ;
  display: block;
}

#saved-searches-panel::-webkit-scrollbar {
  width: 10px;
}


#saved-searches-panel::-webkit-scrollbar-track {
  background: #f1f1f1; 
}


#saved-searches-panel::-webkit-scrollbar-thumb {
  background: #888; 
}


#saved-searches-panel::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 