{% extends "index.html" %}
{% block app %}
<script type="application/javascript" src="{{STATIC_URL}}base/home.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base/home.css">

<div class="row">
	{% if request.user.is_authenticated %}
		<div class="col-lg-3">
			<div class="panel">
					<div class="panel-heading">Global settings</div>
					<div class="panel-body">
						<form method="post" id="settings" name="settings">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">Language model:</div>
									<div class="col-sm-6">
										<select id="model" name="model" class="form-control">
											{% for model in models %}
												{% if model.pk|slugify == request.session.model %}
													<option value="{{model.pk}}" selected="selected">{{model.pk}} - {{model.run_description}}</option>
												{% else %}
													<option value="{{model.pk}}">{{model.pk}} - {{model.run_description}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>								
								<div class="row">
									<div class="col-sm-6">Dataset:</div>
									<div class="col-sm-6">
										<select id="dataset" name="dataset" class="form-control">
											{% for dataset in datasets.iteritems %}
												{% if dataset.0|stringformat:"i" == request.session.dataset %}
													<option value="{{dataset.0}}" selected="selected">{{dataset.1.index}} - {{dataset.1.mapping}}</option>
												{% else %}
													<option value="{{dataset.0}}">{{dataset.1.index}} - {{dataset.1.mapping}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6">

									</div>
									<div class="col-sm-6">
										<button type="submit" onclick="javascript:update();" class="btn btn-default form-control"><span class="glyphicon glyphicon-ok"></span> Update settings</button>
									</div>
								</div>
							</div>
						</form>
					</div>
			</div>
		</div>
	{% endif %}
	<div class="col-lg-9">
		<div class="panel">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				Terminology EXtraction and Text Analytics (TEXTA) Toolkit is a web-based solution for analysing free text datasets.
				<br>
				Further information from: <a href="mailto:rsirel@texta.ee">rsirel@texta.ee</a>.
				<br><br>
				<div class="row">
					<div class="col-lg-4">
						<div class="holder">
							<img src="{{STATIC_URL}}/img/texta_logo.png">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="holder">
							<img src="{{STATIC_URL}}/img/stacc_logo.png">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="holder">
							<img style="width:50%" src="{{STATIC_URL}}/img/ekt_logo.png">
						</div>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
{% endblock %}