{% extends "index.html" %}
{% block app %}
<script type="application/javascript" src="{{STATIC_URL}}base/account.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base/account.css">

<div class="row">
	<div class="col-lg-3">
		{% if request.user.is_authenticated %}
			<div class="panel">
					<div class="panel-heading">Global Settings</div>
					<div class="panel-body">
						<form method="post" id="settings" name="settings">
								<div class="row padded-row">
									<div class="col-sm-12"><b>Language model</b></div>
									<div class="col-sm-12">
										<select id="model" name="model" class="form-control input-sm">
											{% for model in models %}
												{% if model.pk|slugify == request.session.model %}
													<option value="{{model.pk}}" selected="selected">{{model.pk}} - {{model.run_description}}</option>
												{% else %}
													<option value="{{model.pk}}">{{model.pk}} - {{model.run_description}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>								
								<div class="row padded-row">
									<div class="col-sm-12"><b>Dataset</b></div>
									<div class="col-sm-12">
										<select id="dataset" name="dataset" class="form-control input-sm">
											{% for dataset in datasets %}
												{% if dataset.id|stringformat:"i" == request.session.dataset %}
													<option value="{{dataset.id}}" selected="selected">{{dataset.index}} - {{dataset.mapping}}</option>
												{% else %}
													<option value="{{dataset.id}}">{{dataset.index}} - {{dataset.mapping}}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="row padded-row">
									<div class="col-sm-12">
										<button type="submit" onclick="javascript:update();" class="btn btn-default form-control input-sm"><span class="glyphicon glyphicon-ok"></span> Update settings</button>
									</div>
								</div>
						</form>
					</div>
			</div>
			<div class="panel">
				<div class="panel-heading">Change Password</div>
				<div class="panel-body">
					<form method="post" id="change_password" name="change_password">
						<div class="row padded-row">
							<div class="col-sm-12">
								<input type="password" class="form-control input-sm" id="new_password" name="new_password" placeholder="New password">
							</div>
						</div>
						<div class="row padded-row">
							<div class="col-sm-12">
								<input type="password" class="form-control input-sm" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password">
							</div>
						</div>
						<div class="row padded-row">
							<div class="col-sm-12">
								<button type="submit" onclick="javascript:change_pwd();" class="btn btn-default form-control input-sm"><span class="glyphicon glyphicon-ok"></span> Change Password</button>
							</div>
						</div>						
					</form>
				</div>
			</div>
		{% else %}
			<div class="panel">
				<div class="panel-heading">Registration</div>
				<div class="panel-body">
					<form method="post" id="change_password" name="change_password">
						<div class="row padded-row">
							<div class="col-sm-12">
								<input class="form-control input-sm" id="new_password" name="new_password" placeholder="New password">
							</div>
						</div>
						<div class="row padded-row">
							<div class="col-sm-12">
								<input class="form-control input-sm" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password">
							</div>
						</div>
						<div class="row padded-row">
							<div class="col-sm-12">
								<button type="submit" onclick="javascript:change_password();" class="btn btn-default form-control input-sm"><span class="glyphicon glyphicon-ok"></span> Change Password</button>
							</div>
						</div>
						<div class="row padded-row">
							<div class="col-sm-12">
								<button type="submit" onclick="javascript:change_password();" class="btn btn-danger form-control input-sm"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
							</div>
						</div>							
					</form>
				</div>
			</div>			
		{% endif %}
	</div>
	
	<div class="col-lg-9">
		<div class="panel">
			<div class="panel-heading">Information</div>
			<div class="panel-body">
				
				<h3>For introduction and further information please visit <a href="https://texta-tk.bitbucket.io/texta_intro/" target="_blank">TEXTA Toolkit for newbies</a>.</h3>
				<h3>Documentation for TEXTA Toolkit is available <a href="https://texta-tk.github.io" target="_blank">HERE</a>!</h3>
				
				<br><br>
				<div class="row">
					<div class="col-lg-5">
						<div class="holder">
							<img src="{{STATIC_URL}}/img/toolkit_logo.png">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="holder">
							<img src="{{STATIC_URL}}/img/stacc_logo.png">
						</div>
					</div>
					<div class="col-lg-3">
						<div class="holder">
							<img style="width:50%" src="{{STATIC_URL}}/img/ekt_logo.png">
						</div>	
					</div>
				</div>
				<br><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}