{% extends "index.html" %} {% block app %}
{% include 'email-modal.html' %}
<script type="application/javascript" src="{{STATIC_URL}}base/account.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}base/index.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}base/account.css">
<div class="grid-2-col-1-row-default">
	<div class="">
		{% if request.user.is_authenticated %}
		<div class="panel panel-borderless">

			<div class="panel-body">
				<div class="row padded-row">
					<div class="col-sm-12">
						<input type="password" class="form-control input-sm" id="new_password" name="new_password" placeholder="New password">
					</div>
				</div>
				<div class="row padded-row">
					<div class="col-sm-12">
						<input type="password" class="form-control input-sm" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password">
					</div>
				</div>
				<div class="row padded-row">
					<div class="col-sm-12">
						<button type="submit" onclick="javascript:change_pwd();" class="btn btn-default form-control input-sm"><span class="glyphicon glyphicon-ok"></span>
							Change Password</button>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="panel panel-borderless">
			<div class="panel-heading">Registration</div>
			<div class="panel-body">
				<div class='row'>
					<div class="col-sm-12">
						<form onsubmit="registerAccount(); return false;">
							<div class="form-group">
								<label for="registrationUsername" class="sr-only">Username</label>
								<input type="text" class="form-control input-sm" id="registrationUsername" name="username" placeholder="Username">
							</div>
							<div class="form-group">
								<label for="registrationPassword" class="sr-only">Password</label>
								<input type="password" class="form-control input-sm" id="registrationPassword" name="password" placeholder="Password">
							</div>
							<div class="form-group">
								<label for="registrationPasswordAgain" class="sr-only">Password again</label>
								<input type="password" class="form-control input-sm" id="registrationPasswordAgain" name="password_again" placeholder="Password again">
							</div>
							<div class="form-group">
								<label for="registrationEmail" class="sr-only">E-mail</label>
								<input type="email" class="form-control input-sm" id="registrationEmail" name="email" placeholder="E-mail">
							</div>
							<!--
							<div class="checkbox">
								<label><input type="checkbox">Request permissions</label>
							</div> -->
							<a type="button" class="btn btn-default btn-sm pull-left"  href="{% url 'password_reset' %}">Forgot Password</a>
							<input type="submit" class="btn btn-default btn-sm pull-right" value="Register">
						</form>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="">
		<div class="panel panel-borderless">
		
			<div class="panel-body">

				<h3>Documentation for TEXTA Toolkit is available <a href="https://texta-tk.github.io" target="_blank">HERE</a>!</h3>
				<br><br>
				<div class="row">
					<div class="col-lg-5">
						<div class="holder">
							<img src="{{STATIC_URL}}/img/toolkit_logo.png">
						</div>
					</div>
					<div class="col-lg-4">
						<div class="holder">
							<img style="width:75%" src="{{STATIC_URL}}/img/ekt_logo.png">
						</div>
					</div>
					
				</div>
				{% if messages %}
				{% for message in messages %}
					<script type="text/javascript">
						swalCustomTypeDisplay('{{message.tags}}','{{message.tags|upper}}!','{{message}}');
					</script>
					{% endfor %}
				{% endif %}
				<br><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}
