<div class="modal fade" id="confirm-email-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Registration successful</h4>
            </div>
            <div class="modal-body" id="query-modal-content">Thank you for registering. Please contact your administrator to activate the account.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
            </div>

        </div>
    </div>
</div>
