{% extends "index.html" %} {% block app %}
    <script type="application/javascript" src="{{ STATIC_URL }}base/account.js"></script>
    {% if request.user.is_authenticated %}
    <div class="panel panel-borderless">

        <div class="panel-body">
            <div class="row padded-row">
                <div class="col-sm-12">
                    <input type="password" class="form-control input-sm" id="new_password" name="new_password" placeholder="New password">
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-sm-12">
                    <input type="password" class="form-control input-sm" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm new password">
                </div>
            </div>
            <div class="row padded-row">
                <div class="col-sm-12">
                    <button type="submit" onclick="javascript:change_pwd();" class="btn btn-default form-control input-sm"><span class="glyphicon glyphicon-ok"></span>
                        Change Password</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}