{% extends "index.html" %}
{% block app %}

<script type="application/javascript" src="{{STATIC_URL}}classification_manager/classification_manager.js">
</script>

<div class="row">
  <div class="col-sm-3">
	<div class="panel">
	  <div class="panel-heading">Train a Classification Model</div>
	  <div class="panel-body">
		<form class="form-horizontal" role="form">
		  <div class="form-group">
			  <div class="col-sm-12">
			  <div class="row">
				<div class="col-sm-6">Select a search:</div>
				<div class="col-sm-6">
								<select id="search" class="form-control">
									<option></option>
									{% for search in searches %}
										<option value="{{search.id}}">{{search.description}}</option>
									{% endfor %}
								</select>
				</div>
			  </div>

			  <div class="row">
				<div class="col-sm-6">Select field:</div>
				<div class="col-sm-6">
                    <select id="field" class="form-control">
                        <option></option>
                        {% for field in fields %}
                            <option value="{{field.data}}">{{field.label}}</option>
                        {% endfor %}
                    </select>
				</div>
			  </div>


                <div class="row">
                    <div class="col-sm-6">Feature Extraction:</div>
                    <div class="col-sm-6">
                        <select id="extractor_opt" class="form-control">
                            {%  for extractor_opt in extractor_opt_list %}
                                <option value="{{ extractor_opt.index }}">{{ extractor_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Dimension Reduction:</div>
                    <div class="col-sm-6">
                        <select id="reductor_opt" class="form-control">
                            {%  for reductor_opt in reductor_opt_list %}
                                <option value="{{ reductor_opt.index }}">{{ reductor_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Normalization:</div>
                    <div class="col-sm-6">
                        <select id="normalizer_opt" class="form-control">
                            {%  for normalizer_opt in normalizer_opt_list %}
                                <option value="{{ normalizer_opt.index }}">{{ normalizer_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Classifier:</div>
                    <div class="col-sm-6">
                        <select id="classifier_opt" class="form-control">
                            {%  for classifier_opt in classifier_opt_list %}
                                <option value="{{ classifier_opt.index }}">{{ classifier_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
			  <div class="row">
				<div class="col-sm-6">Description:</div>
				<div class="col-sm-6">
				  <input name="description" id="description" class="form-control input-sm">	
				</div>
			  </div>	
			  <div class="row">
				<div class="col-sm-6"></div>
				<div class="col-sm-6">
				  <button type="button" onclick="javascript:train_classifier();" class="btn btn-default form-control"><span class="glyphicon glyphicon-ok"></span> Train Model</button>
				</div>
			  </div>				  
		  </div>
		</form>
		</div>
	  </div>
	</div>
  </div>
  <div class="col-lg-9">
	<div class="panel">
	  <div class="panel-heading">Models</div>
	  <div class="panel-body">
		<table class="table table-striped">
			<thead>
			  <tr>
				<th>Model ID</th>
				<th>Author</th>
				<th>Description</th>
				<th>Architecture</th>
				<th>Task Status</th>
                <th>f1-score</th>
				<th>Task Started</th>
				<th>Task Completed</th>
				<th>Remove</th>
			  </tr>
			</thead>
            {% for run in runs %}
                <tr>
                    <td>{{run.pk}}</td>
                    <td>{{run.user}}</td>
                    <td>{{run.run_description}}</td>
                    <td><a href="javascript:alert('{{run.clf_arch}}');">view</a></td>
                    <td>{{run.run_status}}</td>
                    <td>{{run.score}}</td>
                    <td>{{run.run_started|date:"d.m.Y H:i"}}</td>
                    <td>{{run.run_completed|date:"d.m.Y H:i"}}</td>
                    <td>
                        <a href="javascript:void(0)" onclick="confirm_and_remove({{run.pk}})">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
	  </div>
	</div>
  </div>
</div>
{% endblock %}