body {
    font-family: 'Open sans', serif;
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
}

.body-grid-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas: "navbar"
        "content"
}

.grid-item-navbar {
    grid-area: navbar;
}

.grid-item-content {
    grid-area: content;
}

.navbar {
    margin: 0;
    border: 0;
}

.user-data {
    color: #EFEFEF;
    align-items: center
}

.navbar-right {
    display: flex;
    padding-top: 9px;
    padding-bottom: 9px;
}

.navbar-right>.navbar-form {
    display: flex;
    align-items: center;
    margin: 0px;
}

.navbar-form>div {
    margin-right: 5px;
}

.panel-heading {
    background-color: #73AD21;
    color: #FFFFFF;
}

.btn {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: #527D17;
    background: #FFFFFF;;
    border-color: #527D17;
}

.btn-danger {
    background: none;
    padding: 5px 22px;
    border: 2px solid #BF3727;
    color: #BF3727;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #8B271D;
    background: none;
    border-color: #8B271D;
}


.row {
    margin-top: 5px;
    margin-bottom: 5px;
}

#registration {
    background-color: #626262;
    margin-top: -3px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

#registrationForm {
    display: none;
}

#notRegistered {
    cursor: pointer;
}

#notRegistered:hover {
    color: #FFD119;
}

#cancelRegistrationBtn {
    margin-left: 2px;
}

.help-block {
    color: #FF4444 !important;
}

#registrationForm .has-error .form-control {
    background-color: #FFBBBB !important;
}

.suggestions {
    line-height: 125%;
    color: #000000;
    padding: 3px;
    vertical-align: top;
}

.list-group-item:hover {
    background-color: #EFEFEF;
}

.list_item {
    display: block;
    padding: 5px;
}

#new_lexicon_button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.modal-header {
    background-color: #73AD21;
    color: #FFFFFF;
}

.bg-grey {
    background: #EFEFEF;
}

.table-condensed {
    font-size: 11px;
}

.datasetOption:checked {
    background-color: #dddddd;
}

@media (max-width: 767px) {
    .navbar-right {
        display: block;
    }
}