body {
	font-family: 'Open sans',serif;
    background-image: url("img/bg.jpg");
    background-repeat: repeat;
}

.user-data {
    color: #EFEFEF;
}

.navbar .nav li {
    white-space: nowrap;
	font-size: 16px;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}



.panel-heading {
	background-color: #73AD21;
	color: #FFFFFF;
}



.btn-default {
	background: none;
	padding: 5px 22px;
	border: 2px solid #73AD21;
    color: #73AD21;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #527D17;
	background: none;
    border-color: #527D17;
}
.btn-danger {
	background: none;
	padding: 5px 22px;
	border: 2px solid #BF3727;
    color: #BF3727;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
    color: #8B271D;
	background: none;
    border-color: #8B271D;
}



.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

#registration {
    background-color: #626262;
    margin-top: -3px;
    color: #FFF;
    font-weight: bold;
    padding: 5px;
    border-bottom-left-radius:5%;
    border-bottom-right-radius:5%;
}

#registrationForm {
    display: none;
}

#notRegistered {
    cursor: pointer;
}

#notRegistered:hover {
    color: #FFD119;
}

#cancelRegistrationBtn {
    margin-left: 2px;
}

.help-block {
    color: #FF4444 !important;
}

#registrationForm .has-error .form-control {
    background-color: #FFBBBB !important;
}

.suggestions {
	line-height: 125%;
	color: #000000;
	padding: 3px;
	vertical-align: top;
}

.list-group-item:hover {
	background-color: #EFEFEF;
}
	
.list_item {
    display: block;
    padding: 5px;
}

#new_lexicon_button {
    cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.modal-header {
    background-color: #73AD21;
    color: #FFFFFF;
}

.bg-grey {
	background: #EFEFEF;
}

