.gitignore
.git

README.md
LICENSE
VERSION
.travis.yml
MANIFEST.in
*.sh
.env

docker-compose.yaml
.dockerignore
*/*/Dockerfile

texta/documentation
texta/files
texta/scripts/example


.idea

*.pyc
__pycache__
db.sqlite3
*/migrations/*
!*/migrations/__init__.py

