.idea/
.vscode/
*.pyc

# Exclude user data
texta/data/models/*
texta/data/usermodels/*
texta/database/*
texta/log/*

# Exclude files
texta/files/*

migrations

# Exclude documentation build files but not the html, js etc
texta/documentation/sphinx/build/doctrees/*
texta/documentation/sphinx/build/html/objects.inv
texta/documentation/sphinx/source/images_bu/*

db.sqlite3
.env
texta.iml
