setuptools
wheel
requests
numpy
cython
scipy
scikit-learn==0.19.2
gensim
django==2.0.2
pathlib
dateutils
sympy
lxml
textract
beautifulsoup4
elasticsearch
psycopg2-binary
dateparser
json2table
mysqlclient
python-logstash-async
pandas
