setuptools
wheel
requests
numpy
cython
scipy
scikit-learn==0.20.3
gensim
django==2.2.13
pathlib
dateutils
sympy
lxml
textract==1.5.0
beautifulsoup4
elasticsearch==6.3.1
elasticsearch_dsl==6.3.1
psycopg2-binary
dateparser
json2table
mysqlclient
python-logstash-async
pandas
psutil
python-crfsuite
matplotlib
django-picklefield
djangorestframework
xlrd
graypy
python-json-logger
python-dotenv
dictor
