setuptools
wheel
requests
numpy
cython
scipy
scikit-learn==0.20.1
gensim
django==2.1.5
pathlib
dateutils
sympy
lxml
textract==1.5.0
beautifulsoup4
elasticsearch
elasticsearch_dsl
psycopg2-binary
dateparser
json2table
mysqlclient
python-logstash-async
pandas
psutil
python-crfsuite
matplotlib
django-picklefield