<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}searcher/dashboard/dashboard.css">
<script type="application/javascript" src="{{ STATIC_URL }}searcher/dashboard/dashboard.js"></script>


<div class="flex-column">
    <ul class="nav nav-tabs flex-row">
        <li class="flex-item-grow-1 active"><a data-toggle="tab" href="#timeline"
                                               title="For building basic searches">Timeline</a>
        </li>
        <li class="flex-item-grow-1"><a data-toggle="tab" href="#facts"
                                        title="For expanding basic searches via similarity queries">Facts</a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="timeline" class="tab-pane fade in active ">
            {% for index in indices %}
                <div class="flex-item-grow-1 " id="timeline-agg-container-{{ index }}">
                </div>
            {% endfor %}
        </div>
        <div id="facts" class="tab-pane fade in ">
            <div class="flex-column width-height-max">
                <select name="index_fields" id="index_fields"
                        class="">
                    {% for index in indices %}
                        <option value="{{ index }}">{{ index }}</option>
                    {% endfor %}
                </select>
                {% for index in indices %}
                    <div class="flex-column hidden" id="datatables-container-{{ index }}">

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



