<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="application/javascript" src="{{ STATIC_URL }}jquery-3.0.0.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}datatables/datatables.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}datatables_button/dataTables.buttons.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}datatables_button/buttons.colVis.js"></script>
    <script type="application/javascript"
            src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}jquery-textrange.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}navigation.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-datepicker.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-slider.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}local-cache.js"></script>

    <script type="application/javascript" src="{{ STATIC_URL }}morris.min.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}raphael-min.js"></script>

    <!-- https://atomiks.github.io/tippyjs/#creating-html-templates -->
    <script type="application/javascript" src="{{ STATIC_URL }}tippy.all.min.js"></script>
    <!-- https://developer.snapappointments.com/bootstrap-select/ -->

    <script type="application/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-select.min.css">
    <!-- http://www.bacubacu.com/colresizable/ -->
    <script type="application/javascript" src="{{ STATIC_URL }}colResizable-1.6.js"></script>
    <script type="application/javascript" src="{{ STATIC_URL }}d3.min.js"></script>
    <!-- http://d3-legend.susielu.com/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <!-- https://github.com/patorjk/d3-context-menu -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}d3-context-menu.css">
    <script type="application/javascript" src="{{ STATIC_URL }}d3-context-menu.js"></script>
    <!-- https://github.com/MasterMaps/d3-slider -->
    <script type="application/javascript" src="{{ STATIC_URL }}d3-slider.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}d3-slider.css">
    <!-- https://sweetalert2.github.io/ -->
    <script type="application/javascript" src="{{ STATIC_URL }}sweetalert2.all.min.js"></script>
    <!-- https://daneden.github.io/animate.css/ -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/animate.css">

    <script type="application/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap-slider.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}datatables/datatables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/datepicker.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base/frame.css">
    <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}/img/favicon.ico"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-multiselect.css" type="text/css">
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-multiselect.js"></script>
    <title>TEXTA Toolkit {{ texta_version }}</title>
</head>

<body>
<div class="body-grid-wrapper">
    <div class="grid-item-navbar">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav">
                        <li id="home"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                        {% if request.user.is_authenticated %}
                            <li id="searcher"><a href="#"><span class="glyphicon glyphicon-search"></span> Searcher</a>
                            </li>
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                                        class="glyphicon glyphicon-pencil"></span>
                                    Terminology Management<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="ontology_viewer"><a href="#"><span
                                            class="glyphicon glyphicon-chevron-right"></span>
                                        Terminology
                                        Overview</a></li>
                                    <li id="lex_miner"><a href="#"><span
                                            class="glyphicon glyphicon-chevron-right"></span> Lexicon
                                        Miner</a></li>
                                    <li id="conceptualizer"><a href="#"><span
                                            class="glyphicon glyphicon-chevron-right"></span>
                                        Conceptualiser</a></li>
                                    <li id="mwe_miner"><a href="#"><span
                                            class="glyphicon glyphicon-chevron-right"></span> MWE Miner</a></li>
                                </ul>
                            </li>
                            {% if request.user.is_superuser %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span
                                            class="glyphicon glyphicon-lock"></span>
                                        Restricted<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li id="permission_admin"><a href="#"><span
                                                class='glyphicon glyphicon-wrench'></span>
                                            Administration </a></li>
                                        <li id="dataset_importer"><a href="#"><span
                                                class='glyphicon glyphicon-share'></span> Dataset
                                            Importer </a></li>
                                        <li id="task_manager"><a href="#"><span
                                                class='glyphicon glyphicon-menu-hamburger'></span> Task
                                            Manager </a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>


                    <div class="navbar-right">
                        <div class='help-block'></div>
                        {% if request.user.is_authenticated %}
                            <div class="navbar-form">
                                <div>
                                    <!-- button to clone to put into selectpicker after its initialized -->
                                    <button id="dataset-select-apply-button"
                                            class="btn-sm btn btn-default hidden width-max"
                                            onclick="dataset_update_resources()">Apply changes
                                    </button>
                                    <select id="dataset_to_activate" name="dataset_to_activate" multiple
                                            data-actions-box="true" class="selectpicker dataset-select-dropdown">
                                        {% for dataset in allowed_datasets %}
                                            {% if dataset.id|stringformat:"i" in request.session.dataset %}
                                                <option class="datasetOption" value="{{ dataset.id }}"
                                                        selected="selected">Dataset {{ dataset.id }}:
                                                    {{ dataset.index }}
                                                    - {{ dataset.mapping }}</option>
                                            {% else %}
                                                <option class="datasetOption" value="{{ dataset.id }}">
                                                    Dataset {{ dataset.id }}: {{ dataset.index }} -
                                                    {{ dataset.mapping }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle btn-sm " id="model-dropdown"
                                            type="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {% if request.session.model.pk %}
                                            Model {{ request.session.model.pk }}:
                                            {{ request.session.model.description }}
                                        {% else %}
                                            Select Model
                                        {% endif %}

                                        <b class="caret"></b>
                                    </button>

                                    <ul class="dropdown-menu model-dropdown-menu" aria-labelledby="model-dropdown">
                                        {% for model in language_models %}
                                            <li data-model_pk="{{ model.pk }}"
                                                data-model_description="{{ model.description }}"
                                                data-model_uuid="{{ model.unique_id }}"
                                                onclick=model_update_resources(this);
                                                role="button"><a>Model {{ model.pk }}: {{ model.description }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="flex-items-align-center flex-item-justify-end">
                                    <div class="dropdown margin-left">
                                        <a class="dropdown-toggle" id="account-dropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{ request.user.get_username }}

                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-right account-dropdown-menu"
                                            aria-labelledby="account-dropdown">

                                            <li onclick="go_to(LINK_ACCOUNT + '/account/log_out')"
                                                role="button"><a class="account-dropdown-item">
                                                <span class="glyphicon glyphicon-log-out low-opacity margin-right"></span>
                                                Log out</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>


                        {% else %}

                            <form class="navbar-form form-inline" id="login_form">
                                <div class="form-group">
                                    <label class="sr-only" for="loginUsername">Username</label>
                                    <input type="text" class="form-control input-sm" id="loginUsername" name="username"
                                           placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="loginPassword">Password</label>
                                    <input type="password" class="form-control input-sm" id="loginPassword"
                                           name="password" placeholder="Password">
                                </div>
                                <button class="btn btn-success btn-sm" type="button" onclick=login();>
                                    <span class="glyphicon glyphicon-log-in"></span></button>
                            </form>

                        {% endif %}

                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
    <div class="grid-item-content">
        {% block app %}{% endblock %}
    </div>
</div>
<script src="{{ STATIC_URL }}base/index.js"></script>
</body>

</html>
