<script type="application/javascript" src="{{STATIC_URL}}searcher/searcher-content.js"></script>
<div class='searcher-content-wrapper'>
    <div class="panel grid-wrapper-content-panel">
        <div class="panel-heading">
            Results
            <div id="actions-btn" class="dropdown pull-right invisible">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-scissors"></span>
                    Actions<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#export-modal"><span class="glyphicon glyphicon-save"></span>
                            Export results</a></li>
                    {% if request.user.is_superuser %}
                    <li><a href="#" data-toggle="modal" data-target="#delete-modal"><span class="glyphicon glyphicon-remove"></span>
                            Delete results</a></li>
                    {% endif %}
                </ul>
            </div>
            <a class='glyphicon' onclick=toggleFullscreen()>toggle</a>
        </div>
        <div class="panel-body" id="right">
            
        </div>



    </div>
    <div class="modal fade" id="export-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Export</h4>
                </div>

                <div class="invisible" id="export-examples-modal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label><input type="radio" name="export-extent" value="page" checked>Current
                                page</label><br>
                            <label><input type="radio" name="export-extent" value="pages">Pages</label>
                            <input type="text" id="export-start-page" placeholder="start" size="3">
                            to
                            <input type="text" id="export-end-page" placeholder="end" size="3"><br>
                            <label><input type="radio" name="export-extent" value="rows">Rows</label>
                            <input type="text" id="export-rows" placeholder="number" size="4"><br>
                            <label><input type="radio" name="export-extent" value="all">All pages</label><br>
                        </div>

                        <div class="form-group">
                            <label><input type="radio" name="export-features" value="selected" checked>Selected
                                features</label><br>
                            <label><input type="radio" name="export-features" value="all">All features</label><br>
                        </div>

                        <div class="form-group form-inline">
                            <label for="export-file-name">Save as: </label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="export-file-name-example" value="{{dataset}}">
                                <span class="input-group-addon">.csv</span>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="exportData('example');">Export</button>
                    </div>

                </div>


                <div class="invisible" id="export-aggregation-modal">
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <label for="export-file-name">Save as: </label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="export-file-name-agg" value="{{dataset}}">
                                <span class="input-group-addon">.csv</span>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="exportData('agg');">Export</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete</h4>
                </div>
                <div class="modal-body">
                    <b>Important:</b> This action will permanently remove the queried documents. The
                    operation may take some time.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="javascript:removeByQuery();">Delete</button>
                </div>

            </div>
        </div>
    </div>

</div>
