<div class="task-manager-grid-wrapper management-padding bg-grey width-max">
    <div class="grid-i">
        <label class="control-label" for="fact_deleter-fact-values">Fact values:</label>
        <div class="select-wrapper">
            <select class="selectpicker" multiple data-selected-text-format="count"
                    id="fact_deleter-fact-values"
                    data-width="100%"
                    required
                    name="fact_deleter_fact_values" data-style="btn-sm btn-default">
                {% for fact, values in manager.facts.items %}
                    {% for val in values %}
                    <option value='{"{{fact}}": "{{val}}"}'>{{ fact }}: {{ val }}</option>
                    {% endfor %}
                {% endfor %}

            </select>
        </div>
    </div>

</div>
