.graph-background>svg{
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.index-tables-holder{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    grid-gap: 0px 5px;
}
