#right {
    width: 100%;
    overflow: auto;
}

#chart_div {
    width: 100%;
    vertical-align: top;
	height: 100%;
	overflow: hidden;
}

.toggle-visibility {
  cursor: pointer;
  color: green;
  font-weight: bold;
  font-size: 10px;
}

.toggle-visibility:hover {
  color: green;
}

.feature-invisible {
  color: red;
}

.feature-invisible:hover {
  color: red;
}

#example {
    width:100%;
}

.dataTable tbody tr td {
    vertical-align: top;
    white-space: pre-wrap;
    width: 10%;
    max-width: 25%;
}

.modal-header {
    background-color: #73AD21;
    color: #FFFFFF;
}

.invisible {
    display:none;
}

.panel-grey {
	background: #EFEFEF;
}

.padded-row {
	padding-left: 5px;
	padding-right: 5px;
	
}