<!-- Tippy content for span popovers -->
<div id="factPopover" style="display:none">
    <div class="popValPairWrap">
        <h5><span class="factName">key</span>: <span class="factValue">val</span></h5>
    </div>
    <div class="popBtnWrap">
        <h5>
            <button id="factPopoverDeleteBtn">
                DELETE FACT
            </button>
            <button id="factPopoverSearchBtn"> Search</button>
        </h5>
    </div>
</div>

<div id="textPopover" style="display:none">
    <div class="popWrap">
        <div class="popValPairWrap">
            <h5><input type="text" class="textName">: <span class="textValue">val</span></h5>
        </div>
        <div class="popBtnWrap">
            <h5>
                <button id="textPopoverSaveBtn"> Save as fact</button>
            </h5>
        </div>
    </div>
</div>