{% extends "index.html" %}
{% block app %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}searcher/searcher.css">
<script type="application/javascript" src="{{STATIC_URL}}local-cache.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}searcher/searcher.js"></script>

<div class="grid-wrapper-searcher">
	<div class="grid-wrapper-sidebar">
		{% include "searcher-sidebar/searcher-sidebar.html" %}
	</div>
	<div class="grid-wrapper-content">
		{% include "searcher-content/searcher-content.html" %}
	</div>
</div>

<div id="field_hidden" style="display: none;" class="panel bg-grey">
	<input type="hidden" name="match_field_" id="match_field_">

	<div class="row padded-row">
		<div class="col-sm-12">
			<b><span id="selected_field_"></span></b>
			<a href="#" id="remove_link"><span class="glyphicon glyphicon-remove pull-right"></span></a>
		</div>
	</div>
	<div class="row padded-row">
		<div class="col-sm-4">
			<select id="match_operator_" name="match_operator_" class="form-control input-sm">
				<option value="must" selected="selected">Bool: and</option>
				<option value="should">Bool: or</option>
				<option value="must_not">Bool: not</option>
			</select>
		</div>
		<div class="col-sm-5">
			<select id="match_type_" name="match_type_" class="form-control input-sm">
				<option value="match">Match: word</option>
				<option value="match_phrase">Match: phrase</option>
				<option value="match_phrase_prefix" selected="selected">Match: phrase prefix</option>
			</select>
		</div>
		<div class="col-sm-3">
			<select id="match_slop_" name="match_slop_" class="form-control input-sm">
				<option value="0">Slop: 0</option>
				<option value="1">Slop: 1</option>
				<option value="2">Slop: 2</option>
				<option value="3">Slop: 3</option>
				<option value="4">Slop: 4</option>
				<option value="2">Slop: 5</option>
			</select>
		</div>
	</div>
	<!--<div class="row padded-row">
				<div class="col-sm-12">
					<select id="match_layer_" name="match_layer_" class="form-control input-sm">
						<option value="document">Match layer: document</option>
					</select>
				</div>
			</div>
			-->
	<div class="row padded-row">
		<div class="col-sm-12">
			<textarea id="match_txt_" name="match_txt_" class="form-control"></textarea>
			<ul name="suggestions_" id="suggestions_" class="list-group" style="display: none;"></ul>
		</div>
	</div>
</div>

<div id="field_hidden_fact" class="panel bg-grey" style="display: none;">
	<input type="hidden" name="fact_field_" id="fact_field_">
	<div class="row padded-row">
		<div class="col-sm-12">
			<b><span id="selected_field_"></span></b>
			<a href="#" id="remove_link"><span class="glyphicon glyphicon-remove pull-right"></span></a>
		</div>
	</div>
	<div class="row padded-row">
		<div class="col-sm-4">
			<b>Bool:</b><br>
			<select id="fact_operator_" name="fact_operator_" class="form-control input-sm">
				<option value="must" selected="selected">and</option>
				<option value="should">or</option>
				<option value="must_not">not</option>
			</select>
		</div>
		<div class="col-sm-8">
			<b>Facts:</b><br>
			<textarea id="fact_txt_" name="fact_txt_" class="form-control"></textarea>
			<ul name="suggestions_" id="suggestions_" class="list-group" style="display: none;"></ul>
		</div>
	</div>
</div>

<div id="field_hidden_fact_val" class="panel bg-grey" style="display: none;">
	<input type="hidden" name="fact_field_" id="fact_field_">
	<input type="hidden" name="fact_constraint_type_">

	<div class="row padded-row">
		<div class="col-sm-12">
			<b><span id="selected_field_"></span></b>
			<a href="#" id="remove_link"><span class="glyphicon glyphicon-remove pull-right"></span></a>
		</div>
	</div>

	<div class="row padded-row">
		<div class="col-sm-4">
			<b>Bool:</b><br>
			<select id="fact_operator_" name="fact_operator_" class="form-control input-sm">
				<option value="must" selected="selected">and</option>
				<option value="should">or</option>
				<option value="must_not">not</option>
			</select>
		</div>

		<div id="fact_val_rules_" class="col-sm-12">
			<b>Facts:</b><br>
			<div class="row row-padded" id="fact_val_rule_">
				<div class="col-sm-3" style="padding-right: 3px" name="constraint_key_container">
					<input id="fact_txt_" class="form-control input-sm" type="text" placeholder="Fact name"></input>
					<ul name="suggestions_" id="suggestions_" class="list-group" style="display: none; width: 100%;"></ul>
				</div>

				<div class="col-sm-2" style="padding-left: 3px; padding-right: 3px;">
					<select class="form-control input-sm">
						<option value="=">is</option>
						<option value="!=">not</option>
						<option value="&lt;">&lt;</option>
						<option value="&gt;">&gt;</option>
						<option value="&lt;=">&lt;=</option>
						<option value="&gt;=">&gt;=</option>
					</select>
				</div>

				<div class="col-sm-5" style="padding-left: 3px" name="constraint_val_container">
					<input id="fact_constraint_val_" name="fact_constraint_val_" class="form-control input-sm" type="text"
					 placeholder="Value (case sensitive)"></input>
					<ul name="suggestions_" id="suggestions_" class="list-group" style="display: none;"></ul>
				</div>

				<div class="col-sm-2" name="fact_action_button">
					<button type="button" class="btn btn-sm center-block" title="Add fact constraint">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>

			</div>
		</div>
	</div>
</div>

<div id="field_hidden_date" style="display: none;" class="panel bg-grey">
	<input type="hidden" name="daterange_field_" id="daterange_field_">
	<div class="row padded-row">
		<div class="col-sm-12">
			<b><span id="selected_field_"></span></b>
			<a href="#" id="remove_link"><span class="glyphicon glyphicon-remove pull-right"></span></a>
		</div>
	</div>
	<div class="row padded-row">
		<div class="col-sm-12">
			<b>Date range (yyyy-mm-dd):</b>
			<input type="text" placeholder="from" id="daterange_from_" class="form-control input-sm">
			<input type="text" id="daterange_to_" placeholder="to" class="form-control input-sm">
		</div>
	</div>
</div>

<div id="popup"></div>

{% endblock %}