{% extends "index.html" %}
{% block app %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}searcher/searcher.css">
<!-- For fact and text selections, tippy popover -->
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}searcher/selection.css">
<script type="application/javascript" src="{{STATIC_URL}}local-cache.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}searcher/searcher.js"></script>
<script type="application/javascript" src="{{STATIC_URL}}searcher/selectionProps.js"></script>

<div class="grid-wrapper-searcher" id='grid-wrapper-searcher-id'>
	<div class="grid-wrapper-sidebar">
		{% include "searcher-sidebar/searcher-sidebar.html" %}
	</div>
	<div class="grid-wrapper-content">
		{% include "searcher-content/searcher-content.html" %}
	</div>
</div>

{% include "popover_templates.html" %}
<div id="popup"></div>

{% endblock %}