
{% include 'wildcard-dataset-modal.html' %}
<div class="panel">
    <div class="panel-heading">Dataset Management</div>
    <div class="panel-body">

        <form action="/permission_admin/add_index" method='POST'>
            <div class="grid-wrapper-dm">
                <div class="grid-i-dataset">
                    <select class="form-control input-sm" id="index">
                        {% for index in indices %}
                        <option value="{{index.index}}">{{index.index}} ({{index.status}})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="grid-i-mapping">
                    <select class="form-control input-sm" id="mapping"></select>
                </div>
                <div class="grid-i-access">
                    <select class="form-control input-sm" id="access">
                        <option value="public">public</option>
                        <option value="private">private</option>
                    </select>
                </div>
                <div class="grid-i-add-btn">
                    <button class="btn btn-default btn-sm" type='button' onclick="add_dataset();">Add</button>
                </div>
                <div class="grid-i-wild-btn">
                    <button class="btn btn-default btn-sm" type='button' data-toggle="modal" data-target=".wildcard-modal">Wildcard dataset</button>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>ID</th>
                    <th>Index</th>
                    <th>Mapping</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th>Access</th>
                    <th>Remove link</th>
                    <th>Delete</th>
                </thead>
                {% for dataset in datasets %}
                <tr>
                    <td>
                        {{dataset.pk}}
                    </td>
                    <td>
                        {{dataset.index}}
                    </td>
                    <td>
                        {{dataset.mapping}}
                    </td>
                    <td>
                        {{dataset.author}}
                    </td>
                    <td>
                        {% if dataset.status == 'open' %}
                        <a href="#" onclick="open_close_dataset('{{dataset.pk}}','close');" title="Click to close the index">open</a>
                        {% else %}
                        <a href="#" onclick="open_close_dataset('{{dataset.pk}}','open');" title="Click to open the index">closed</a>
                        {% endif %}
                    </td>
                    <td>
                        {{dataset.store_size}}
                    </td>
                    <td>
                        {{ dataset.access }}
                    </td>
                    <td>
                        <a href="#" onclick="remove_index('{{dataset.pk}}');" title="Click to remove index from Toolkit"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                    <td>
                        <a href="#" onclick="delete_index('{{dataset.pk}}');" title="Click to delete the index from Elasticsearch"><span
                                class="glyphicon glyphicon-floppy-remove"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>