<div class="panel">
    <div class="panel-body">

        <form action="/permission_admin/add_index" method='POST'>
            <div class="grid-wrapper-dm">
                <div class="grid-i-dataset">
                    <select class="form-control input-sm index-input index" id="index">
                        {% for index in indices %}
                        <option value="{{index.index}}">{{index.index}} ({{index.status}})</option>
                        {% endfor %}
                    </select>
                    <input type="text" class="form-control input-sm wildcard-index-input hidden" placeholder="Index">
                </div>
                <div class="grid-i-mapping">
                    <select class="form-control input-sm mapping-input mapping" id="mapping"></select>
                    <input type="text" class="form-control input-sm wildcard-mapping-input hidden" placeholder="Mapping">
                </div>
                <div class="grid-i-access">
                    <select class="form-control input-sm" id="access">
                        <option value="public">public</option>
                        <option value="private">private</option>
                    </select>
                </div>
                <div class="grid-i-add-btn">
                    <button class="btn btn-default btn-sm" type='button' onclick="add_dataset();">Add</button>
                </div>
                <div class="grid-i-wild-btn">
                    <button class="btn btn-default btn-sm" type='button' onclick="toggle_wildcard_dataset();">Toggle Wildcard</button>
                </div>
            </div>
        </form>

        <div class="table-responsive">
            <table class="table table-striped" id="index-table">
                <thead>
                    <th class="center-td">ID</th>
                    <th>Index</th>
                    <th>Mapping</th>
                    <th>Author</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th class="center-td">Doc count</th>
                    <th class="center-td">Access</th>
                    <th class="center-td"><a href="#" onclick="remove_indexes();" title="Click to remove index from Toolkit"><span
                            class="glyphicon glyphicon-remove"></span></a></th>
                    <th class="center-td"><a href="#" onclick="delete_index();" title="Click to delete the index from Elasticsearch"><span
                            class="glyphicon glyphicon-floppy-remove"></span></a></th>
                </thead>
                {% for dataset in datasets %}
                <tr>
                    <td class="center-td">
                        {{dataset.pk}}
                    </td>
                    <td>
                        {{dataset.index}}
                    </td>
                    <td>
                        {{dataset.mapping}}
                    </td>
                    <td>
                        {{dataset.author}}
                    </td>
                    <td>
                        {% if dataset.status == 'open' %}
                        <a href="#" onclick="open_close_dataset('{{dataset.pk}}','close');" title="Click to close the index">open</a>
                        {% else %}
                        <a href="#" onclick="open_close_dataset('{{dataset.pk}}','open');" title="Click to open the index">closed</a>
                        {% endif %}
                    </td>
                    <td>
                        {{dataset.store_size}}
                    </td>
                    <td class="center-td">
                        {{dataset.docs_count}}
                    </td>
                    <td class="center-td">
                        {{ dataset.access }}
                    </td>
                    <td class="center-td">
                        <input autocomplete="off" type="checkbox" id='{{ dataset.pk }}' name="toolkit_dataset_delete">
                    </td>
                    <td class="center-td">
                        <input autocomplete="off" type="checkbox" id='{{ dataset.pk }}' name="toolkit_elasticsearch_delete">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>