{% extends "index.html" %}
{% block app %}
<div class="row">
	<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading">User Management</div>
			<div class="panel-body">
					<table class="table table-striped">
						<thead>
							<th>Username</th>
							<th>Superuser</th>
							<th>Last Login</th>
							<th>E-mail</th>
							<th></th>
						</thead>
							<form action="{{URL_PREFIX}}/permission_admin/save_permissions" method='POST'>
								{% for fields in users %}
									<tr>
										<td>
											{{ fields.username }}
										</td>
										<td>
											{% if fields.superuser == 1 %}
											<input name="superuser" type="checkbox" value={{ fields.username }} checked="checked">
											{% else %}
												<input name="superuser" type="checkbox" value={{ fields.username }}>
											{% endif %}
										</td>
										<td>
											{{ fields.last_login }}
										</td>
										<td>
											{{ fields.e_mail }}
										</td>
										<td>
											<button class="btn btn-danger" type='button' onclick="delete_user('{{fields.username}}');">Delete</button>
										</td>
									</tr>
								{% endfor %}
								<tr>
									<td colspan="6">
										<button class="btn btn-default" id="save-button" type="submit" id="submit_button">Save</button>
									</td>
								</tr>
							</form>
					</table>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="panel">
			<div class="panel-heading">Dataset Management</div>
			<div class="panel-body">
				<div class="row">
					<form action="/permission_admin/add_index" method='POST'>
						<div class="col-lg-5">
							<select class="form-control input-sm" id="index">
							{% for index in indices %}
								<option value="{{index.index}}">{{index.index}} ({{index.status}})</option>
							{% endfor %}
							</select>
						</div>
						<div class="col-lg-5">
							<select class="form-control input-sm" id="mapping"></select>
						</div>
						<div class="col-lg-2">
							<button class="btn btn-default" type='button' onclick="add_dataset();">Add</button>
						</div>
					</form>
				</div>
				<table class="table table-striped">
					<thead>
						<th>ID</th>
						<th>Index</th>
						<th>Mapping</th>
						<th>Author</th>
						<th>Status</th>
						<th>Size</th>
						<th>Remove</th>
					</thead>
					{% for dataset in datasets %}
						<tr>
							<td>
								{{dataset.pk}}
							</td>
							<td>
								{{dataset.index}}
							</td>
							<td>
								{{dataset.mapping}}
							</td>
							<td>
								{{dataset.author}}
							</td>
							<td>
								{{dataset.status}}
							</td>
							<td>
								{{dataset.store_size}}
							</td>
							<td>
								<button class="btn btn-danger" type='button' onclick="remove_index('{{dataset.pk}}');">Remove</button>
							</td>
							</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
<script type="application/javascript" src="{{STATIC_URL}}permission_admin/permission_admin.js"></script>
{% endblock %}