{% extends "index.html" %}
{% block app %}

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}permission_admin/permission_admin.css">

<div class="flex-column width-height-max">
	<div class="width-max">
		<ul class="nav nav-tabs top-nav-tabs">
			<li><a data-toggle="tab" href="#index-management-tab">Dataset Managment</a></li>
			<li><a data-toggle="tab" href="#user-management-tab">User Access Managment</a></li>
		</ul>
	</div>
	<div class="tab-content">
		<div class="width-max fade tab-pane" id="user-management-tab">
			{% include "user_management.html" %}
		</div>
		<div class="width-max fade tab-pane" id="index-management-tab">
			{% include "index_management.html" %}
		</div>
	</div>
</div>
<script type="application/javascript" src="{{STATIC_URL}}permission_admin/permission_admin.js"></script>

{% endblock %}
