<div class="panel">
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-6">Search:</div>
            <div class="col-sm-6">
                <select id='apply-preprocessor-search-param' name="{{ task_param.id }}_search" class="selectpicker" data-width='100%'>
                    <option value="all_docs">Empty (all documents)</option>
                    {% for search in searches %}
                        <option value="{{ search.id }}">{{ search.description }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">Description:</div>
            <div class="col-sm-6">
                <input required id='apply-preprocessor-description-param' name="{{ task_param.id }}_description" class="form-control input-sm">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">Processor:</div>
            <div class="col-sm-6">

                <select id="{{ task_param.id }}_preprocessor_key" autocomplete="off"
                        name="{{ task_param.id }}_preprocessor_key" class="selectpicker" data-width='100%'
                        onchange="select_preprocessor('{{ task_param.id }}');">
                    {% for preprocessor in enabled_preprocessors%}
                        <option value="{{ preprocessor.key }}">{{ preprocessor.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="flex-column preprocessor-wrapper">
            {% for preprocessor in enabled_preprocessors %}


                <div id="params-{{ preprocessor.key }}"
                     class="{% if forloop.counter > 1 %}hidden{% endif %} flex-row height-max ">
                    <form autocomplete="off" class="flex-column height-max width-max" action="javascript:start_task_preprocessor('{{ task_param.id }}','form_{{ task_param.id }}_{{ preprocessor.key }}','{{ preprocessor.key }}');" id="form_{{ task_param.id }}_{{ preprocessor.key }}">
                        {% include preprocessor.parameters_template %}

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit"
                                        class="btn btn-default form-control"><span
                                        class="glyphicon glyphicon-ok"></span> Start task
                                </button>
                            </div>
                        </div>
                    </form>
                </div>



            {% endfor %}
        </div>


    </div>
</div>