<div class="panel">
    <div class="panel-heading">Apply preprocessor</div>
    <div class="panel-body">

		<div class="row">
			<div class="col-sm-6">Select field:</div>
			<div class="col-sm-6">
				<select id="preprocessor_field" name="preprocessor_field" class="form-control input-sm">
					{% for field in fields %}
						<option value="{{field.data}}">{{field.label}}</option>
					{% endfor %}
				</select>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-6">Preprocessor:</div>		
			<div class="col-sm-6">
				<select id="preprocessor_key" name="preprocessor_key" class="form-control input-sm">
					{% for preprocessor in enabled_preprocessors %}
						<option value="{{preprocessor.key}}">{{preprocessor.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="row">
		{% for preprocessor in enabled_preprocessors %}
            <div class="list-group-item">
                <div class="list-group-item-heading">
                    <div class="checkbox">
                        <label class="preprocessor-name">
                            <input type="checkbox" id="apply-preprocessor" class="apply-preprocessor" value="{{ preprocessor.key }}" data-preprocessor-idx="{{ forloop.counter }}">{{ preprocessor.name }}
                            <span data-toggle="tooltip" data-placement="bottom" title="{{ preprocessor.description }}" class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </label>
                    </div>
                </div>
                <div class="list-group-item-text preprocessor-parameters" id="preprocessor-{{ forloop.counter }}-parameters">
                    {% include preprocessor.parameters_template %}
                </div>
            </div>
        {%  endfor %}
		</div>
		
		<div class="row">
			<div class="col-sm-12">
			    <button type="button" onclick="javascript:start_task('{{task_param.id}}');" class="btn btn-default form-control"><span class="glyphicon glyphicon-ok"></span> Start task</button>
			</div>
		</div>

    </div>                            
</div>
