<form class="form-horizontal" role="form">
<div class="panel">
	  <div class="panel-heading">Train a New Classification Model</div>
	  <div class="panel-body">
		
		  <div class="form-group">
			  <div class="col-sm-12">
			  <div class="row">
				<div class="col-sm-6">Select a search:</div>
				<div class="col-sm-6">
					<select name="{{task_param.id}}_search" class="form-control">
						{% for search in searches %}
							<option title="{{search.description}}" value="{{search.id}}">{{search.description}}</option>
						{% endfor %}
					</select>
				</div>
			  </div>

			  <div class="row">
				<div class="col-sm-6">Select fields:</div>
				<div class="col-sm-6">
                    <select name="{{task_param.id}}_fields" class="form-control" multiple="multiple">
                        {% for field in fields %}
                            <option title="{{field.path}}" value="{{field.path}}">{{field.label}}</option>
                        {% endfor %}
                    </select>
				</div>
			  </div>

                <div class="row">
                    <div class="col-sm-6">Feature Extraction:</div>
                    <div class="col-sm-6">
                        <select name="{{task_param.id}}_extractor_opt" class="form-control">
                            {%  for extractor_opt in train_tagger_extractor_opt_list %}
                                <option title="{{extractor_opt.label}}" value="{{ extractor_opt.index }}">{{ extractor_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Dimension Reduction:</div>
                    <div class="col-sm-6">
                        <select name="{{task_param.id}}_reductor_opt" class="form-control">
                            {%  for reductor_opt in train_tagger_reductor_opt_list %}
                                <option title="{{reductor_opt.label}}" value="{{ reductor_opt.index }}">{{ reductor_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Normalization:</div>
                    <div class="col-sm-6">
                        <select name="{{task_param.id}}_normalizer_opt" class="form-control">
                            {%  for normalizer_opt in train_tagger_normalizer_opt_list %}
                                <option title="{{normalizer_opt.label}}" value="{{ normalizer_opt.index }}">{{ normalizer_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">Classifier:</div>
                    <div class="col-sm-6">
                        <select name="{{task_param.id}}_classifier_opt" class="form-control">
                            {%  for classifier_opt in train_tagger_classifier_opt_list %}
                                <option title="{{classifier_opt.label}}" value="{{ classifier_opt.index }}">{{ classifier_opt.label }}</option>
                            {%  endfor %}
                        </select>
                    </div>
                </div>
              <div class="row">
				<div class="col-sm-6">Description:</div>
				<div class="col-sm-6">
				  <input name="{{task_param.id}}_description" class="form-control input-sm">
				</div>
			  </div>

			  <div class="row">
				<div class="col-sm-12">
				  <button type="button" onclick="javascript:start_task('{{task_param.id}}');" class="btn btn-default form-control"><span class="glyphicon glyphicon-ok"></span> Start task</button>
				</div>
              </div>

		  </div>
		</div>
	  </div>
	</div>
</div>


<div class="panel">
    <div class="panel-heading">Mass Trainer</div>
    <div class="panel-body">

        <div class="row">
            <div class="col-sm-6">Tags:</div>
            <div class="col-sm-6">
                <select name="mass_tagger_selection" class="form-control input-sm" multiple="multiple">
                    {% for text_tag in text_tags %}
                        <option value="{{text_tag}}" {% if forloop.counter < 2 %}selected="selected"{% endif %}>{{text_tag}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
        <div class="col-sm-6">Select field:</div>
        <div class="col-sm-6">
            <select name="mass_field" class="form-control">
                {% for field in fields %}
                    <option title="{{field.path}}" value="{{field.path}}">{{field.label}}</option>
                {% endfor %}
            </select>
        </div>
        </div>

        <div class="row">
            <div class="col-sm-6">Feature Extraction:</div>
            <div class="col-sm-6">
                <select name="mass_extractor_opt" class="form-control">
                    {%  for extractor_opt in train_tagger_extractor_opt_list %}
                        <option title="{{extractor_opt.label}}" value="{{ extractor_opt.index }}">{{ extractor_opt.label }}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Dimension Reduction:</div>
            <div class="col-sm-6">
                <select name="mass_reductor_opt" class="form-control">
                    {%  for reductor_opt in train_tagger_reductor_opt_list %}
                        <option title="{{reductor_opt.label}}" value="{{ reductor_opt.index }}">{{ reductor_opt.label }}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Normalization:</div>
            <div class="col-sm-6">
                <select name="mass_normalizer_opt" class="form-control">
                    {%  for normalizer_opt in train_tagger_normalizer_opt_list %}
                        <option title="{{normalizer_opt.label}}" value="{{ normalizer_opt.index }}">{{ normalizer_opt.label }}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">Classifier:</div>
            <div class="col-sm-6">
                <select name="mass_classifier_opt" class="form-control">
                    {%  for classifier_opt in train_tagger_classifier_opt_list %}
                        <option title="{{classifier_opt.label}}" value="{{ classifier_opt.index }}">{{ classifier_opt.label }}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" onclick="javascript:start_mass_task('{{task_param.id}}');" class="btn btn-default form-control">
                    <span class="glyphicon glyphicon-ok"></span> Start Mass Trainer
                </button>
        </div>

    </div>
</div>
</form>