<div class="panel">
    <div class="panel-heading" role='button'
         data-toggle="collapse"
         aria-expanded="false"
         aria-controls="new-classification-collapse"
         data-target="#new-classification-collapse"
         title="Collapse the panel"
         >Train a New Neuroclassifier Model
    </div>
    <div class="collapse in">
        <div class="panel-body">

            <div class="form-group">
                <form action="javascript:start_task('{{ task_param.id }}','form_{{ task_param.id }}');"
                      id="form_{{ task_param.id }}" autocomplete="off">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">Select a search:</div>
                            <div class="col-sm-6">
                                <select name="{{ task_param.id }}_search" class="selectpicker" required
                                        data-width='100%'>
                                    <option value="all_docs">Empty (all documents)</option>
                                    {% for search in searches %}
                                        <option title="{{ search.description }}"
                                                value="{{ search.id }}">{{ search.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Select fields:</div>
                            <div class="col-sm-6">
                                <select class="selectpicker" data-width='100%' multiple
                                        required
                                        data-selected-text-format="count"
                                        name="{{ task_param.id }}_fields">
                                    <option data-hidden="true"></option>
                                    {% for field in fields %}
                                        <option title="{{ field.path }}"
                                                value="{{ field.path }}">{{ field.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">Model architecture:</div>
                            <div class="col-sm-6">
                                <select name="{{ task_param.id }}_model_arch" class="selectpicker"
                                        data-width='100%'>
                                    {% for arch in task_param.architectures %}
                                        <option title="{{ arch }}"
                                                value="{{ arch }}">{{ arch }}</option>
                                                {% comment %} TODO {% endcomment %}
                                    {% endfor %}
                                </select>

                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-6">Validation amount:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_validation_split" name="{{ task_param.id }}_validation_split" class="form-control"
                                       data-slider-id='neuroclassifier_validation_split' data
                                       type="text" data-slider-min="0.01" data-slider-max="0.95"
                                       data-slider-step="0.01"
                                       data-slider-value="0.20"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Crop amount:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_crop_amount" name="{{ task_param.id }}_crop_amount" class="form-control"
                                       data-slider-id='neuroclassifier_crop_amount' data
                                       type="text" data-slider-min="100" data-slider-max="100000"
                                       data-slider-step="500"
                                       data-slider-value="10000"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Grid Search downsample amount:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_grid_downsample_amount" name="{{ task_param.id }}_grid_downsample_amount" class="form-control"
                                       data-slider-id='neuroclassifier_grid_downsample_amount' data
                                       type="text" data-slider-min="0.00001" data-slider-max="0.1"
                                       data-slider-step="0.00001"
                                       data-slider-value="0.001"
                                />
                            </div>
                        </div>

                        <div class="row">
                                <div class="col-sm-6">Num epochs for manual model:</div>
                            <div class="col-sm-5 slider-wrapper">

                                <input id="neuroclassifier_num_epochs" name="{{ task_param.id }}_num_epochs" class="form-control"
                                       data-slider-id='neuroclassifier_num_epochs' data
                                       type="text" data-slider-min="1" data-slider-max="25"
                                       data-slider-step="1"
                                       data-slider-value="3"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Max sequence length:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_max_seq_len" name="{{ task_param.id }}_max_seq_len" class="form-control"
                                       data-slider-id='neuroclassifier_max_seq_len' data
                                       type="text" data-slider-min="20" data-slider-max="500"
                                       data-slider-step="1"
                                       data-slider-value="50"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Negative set multiplier:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_negative_multiplier_opt" name="{{ task_param.id }}_negative_multiplier_opt" class="form-control"
                                       data-slider-id='neuroclassifier_negative_multiplier_opt' data
                                       type="text" data-slider-min="0.25" data-slider-max="5.0"
                                       data-slider-step="0.1"
                                       data-slider-value="1.0"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Training set score threshold:</div>
                            <div class="col-sm-5 slider-wrapper">
                                <input id="neuroclassifier_score_threshold_opt" name="{{ task_param.id }}_score_threshold_opt" class="form-control"
                                       data-slider-id='neuroclassifier_score_threshold_opt' data
                                       type="text" data-slider-min="0.0" data-slider-max="0.5"
                                       data-slider-step="0.01"
                                       data-slider-value="0.0"
                                />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">Maximum sample size per class:</div>
                            <div class="col-sm-6">
                                <select name="{{ task_param.id }}_max_sample_size_opt" class="selectpicker" data-width='100%'>
                                    <option title="No limit" value="false">No limit</option>
                                    <option title="10000" value="10000">10000</option>
                                    <option title="25000" value="25000">25000</option>
                                    <option title="50000" value="50000">50000</option>
                                    <option title="100000" value="100000">100000</option>
                                </select>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-6">Label:</div>
                            <div class="col-sm-6">
                                <input required name="{{ task_param.id }}_description" class="form-control input-sm">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit"
                                        class="btn btn-default form-control"><span
                                        class="glyphicon glyphicon-ok"></span> Start task
                                </button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
