<div class="panel">
    <div class="panel-heading">Train a New Entity Extractor Model</div>
    <div class="panel-body">

        <div class="form-group" autocomplete="off">
            <form action="javascript:start_task('{{ task_param.id }}','form_{{ task_param.id }}');" id="form_{{ task_param.id }}" autocomplete="off">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-5">Select a search:</div>
                        <div class="col-xs-5">
                            <select name="{{ task_param.id }}_search"
                                    class="selectpicker"
                                    data-width='100%'
                                    required
                                    autocomplete="off">
                                <option value="all_docs">Empty (all documents)</option>
                                {% for search in searches %}
                                    <option title="{{ search.description }}"
                                            value="{{ search.id }}">{{ search.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-1"><span data-toggle="tooltip" data-placement="bottom"
                                                    title="Search from which facts for training data will be extracted"
                                                    class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">Select fact names:</div>
                        <div class="col-xs-5">
                            <select class="selectpicker" data-width='100%' multiple data-selected-text-format="count"
                                    data-live-search="true" name="{{ task_param.id }}_facts" autocomplete="off">
                                {% for fact in task_param.facts %}
                                    <option title="{{ fact }}" value="{{ fact }}">{{ fact }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-1"><span data-toggle="tooltip" data-placement="bottom"
                                                    title="Select the fact names, of which the values will be used for training"
                                                    class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">Select Lexicon:</div>
                        <div class="col-xs-5">
                            <select class="selectpicker" data-width='100%' multiple data-selected-text-format="count"
                                    data-live-search="true" name="{{ task_param.id }}_lexicons" autocomplete="off">
                                {% for lex in lexicons %}
                                    <option title="{{ lex.name }}" value="{{ lex.id }}">{{ lex.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-1"><span data-toggle="tooltip" data-placement="bottom"
                                                    title="Select the fact names, of which the values will be used for training"
                                                    class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-xs-5">Fields for lexicon:</div>
                        <div class="col-xs-5">
                            <select class="selectpicker" data-width='100%' multiple
                                    required
                                    data-selected-text-format="count"
                                    name="{{ task_param.id }}_lexicon_fields">
                                <option data-hidden="true"></option>
                                {% for field in fields %}
                                    <option title="{{ field.path }}"
                                            value="{{ field.path }}">{{ field.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-xs-1"><span data-toggle="tooltip" data-placement="bottom"
                                                    title="Select the field where the lexicon terms will be matched in"
                                                    class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5">Description:</div>
                        <div class="col-xs-6">
                            <input required name="{{ task_param.id }}_description" class="form-control input-sm"
                                   autocomplete="off">
                        </div>
                        <div class="col-xs-1"><span data-toggle="tooltip" data-placement="bottom"
                                                    title="Description for task"
                                                    class="glyphicon glyphicon-question-sign texta-tooltip"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button type="submit"
                                    class="btn btn-default form-control" autocomplete="off"><span
                                    class="glyphicon glyphicon-ok"></span> Start task
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
